<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzq.project.resume.dao.ResumeMapper" >

  <insert id="insert" parameterType="com.hzq.project.resume.dao.entity.Resume" >
    insert into resumes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthYear != null" >
        birth_year,
      </if>
      <if test="birthDate != null" >
        birth_date,
      </if>
      <if test="workYear != null" >
        work_year,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="workArea != null" >
        work_area,
      </if>
      <if test="detailArea != null" >
        detail_area,
      </if>
      <if test="salary != null" >
        salary,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="concactName != null" >
        concact_name,
      </if>
      <if test="concactPhone != null" >
        concact_phone,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="deletedAt != null" >
        deleted_at,
      </if>
      <if test="watch != null" >
        watch,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthYear != null" >
        #{birthYear,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null" >
        #{birthDate,jdbcType=VARCHAR},
      </if>
      <if test="workYear != null" >
        #{workYear,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="workArea != null" >
        #{workArea,jdbcType=INTEGER},
      </if>
      <if test="detailArea != null" >
        #{detailArea,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        #{salary,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="concactName != null" >
        #{concactName,jdbcType=VARCHAR},
      </if>
      <if test="concactPhone != null" >
        #{concactPhone,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null" >
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="watch != null" >
        #{watch,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <select id="getResumeCountByUserId" parameterType="int" resultType="int">
    select count(1) from resumes where user_id = #{userId,jdbcType=INTEGER} and deleted_at is null
  </select>

  <select id="getResumeByUserId" parameterType="int" resultType="com.hzq.project.resume.dao.entity.Resume">
    select * from  resumes where user_id = #{userId,jdbcType=INTEGER} and deleted_at is null
  </select>

  <select id="getByPk" parameterType="int" resultType="com.hzq.project.resume.dao.entity.Resume">
    select * from  resumes where id= #{id,jdbcType=INTEGER} and deleted_at is null
  </select>

  <update id="addWatchCount" parameterType="int">
    update resumes set watch = watch+1 where id = #{id,jdbcType=INTEGER} and deleted_at is null
  </update>

</mapper>